* { font-family: 'Kadwa', serif !important }

body {
  background: url(/images/wood-bg.png);
}

ul li {
  margin: 1px;
  padding: 1px;
}

.joes-brew-location {
  background: url(/images/brews-bg.jpg);
  text-align:center;
  margin-top: 100px;
}

.joes-brew-contact-us {
  background: url(/images/contact-us-bg.jpg);
  width: 1920px;
  color: white;
}

.twitter-instagram {
  text-align:center;
  margin-top: 25px;
}
