.logo-vertical {
  margin-right: 0px;
  padding-right: 0px;
  float: right;
}

.home-vertical {
  margin-top: 450px;
}

.brews-vertical {
  margin-top: 530px;
}

.location-vertical {
  margin-top: 250px;
}
